Django==4.2.30
djangorestframework==3.16.1
django-extensions==4.1
django-silk==0.5.2
python-decouple==3.8
pytokens==0.4.1
black==25.11.0
autopep8==2.3.2
celery==5.3.6
redis==5.0.1
djangorestframework-simplejwt==5.3.1
